*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body{
  width: 1200px;
  margin-top: 10px;
  margin-left: 50px;

}

/* Header*/

header{
  width: 1200px;

  background-color: yellow;
}
header .brand a{

  width: 400px;
    height: 20px;
  background-color: pink;
  color: white;
  float: left;
}



header .navigation{
  width: 800px;
  background-color: green;
  float: left;

}

ul {

  list-style: none;


}

ul li {
  display: inline;

}


ul li a{
  margin-left: 30px;
  margin-right: 30px;
  color: white;

}


/* Section One*/
.section_one{
  width: 1200px;


}
